[Unit]
Description=Run test_monitor.service each minute

[Timer]
Unit=test_monitor.service
OnCalendar=*-*-* *:*:00
Persistent=true

[Install]
WantedBy=timers.target
